$primary: #283D3B;
// dark teal
$secondary: #197278;
//light teal
$tertiary: #C44536;
//light red
$accent: #772E25;
//dark red
$background: #EDEAE8;
// off-white
$black: #000;

body {
  background-color: $background;
}

.errors {
  color: $tertiary;
}

.navbar-top {
  background-color: $tertiary;
}

.navbar, .footer {
  background-color: $primary;
  a {
    color: $background;
  }
  a:hover {
    background-color: $secondary;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
}

a {
  color: $secondary;
}

#meetMe {
  color: $background;
  background-color: $secondary;
  h2 {
    color: $background;
  }
}

#meetingDiv {
  background-color: $secondary;
  color: $background;
  box-shadow: 2px 2px 2px $black;
  a {
    color: $background;
  }
  a:hover {
    text-decoration: underline;
  }
}
#meetingDiv:hover {
  background-color: $tertiary;
}
