extends layout

block content
  .navbar
    a(href="/home") Home
    a(href="/logout") Logout
    a(href="/deleteAcct") Delete Account
  h1 #{thePerson.name}
  form#connectForm(action="/connect/" + thePerson._id method="get")
    input(type="submit" id="connectButton" name="connectButton" value="Connect with this person")
  form#disconnectForm(action="/disconnect/" + thePerson._id method="get")
    input(type="submit" id="disconnectButton" name="disconnectButton" value="Disonnect from this person")
  form#meetingForm(method="post" action="/meeting/" + thePerson._id)
    input(type="date" name="date" id="date")
    input(type="submit" id="meetingButton" name="meetingButton" value="Schedule a meeting")
  div Meetings:
    for meeting in meetings
      div= meeting.date
