/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  padding: 10px;
  border-radius: 2px; }

.all {
  width: 80%;
  margin: 0 auto;
  height: 45em; }

.navbar-top {
  width: 100%;
  height: 18px;
  box-shadow: 3px 3px 3px black;
  vertical-align: top;
  display: inline-block;
  margin: 0; }

.navbar {
  margin: 0;
  vertical-align: top;
  width: 100%;
  display: inline-block; }
  .navbar a {
    float: right;
    display: inline-block;
    padding-left: 10px; }

.errors {
  padding: 10px; }
  .errors li {
    list-style-type: disc;
    padding: 2px; }

.header, .footer {
  width: 100%; }
  .header h1, .footer h1 {
    display: inline-block; }

.footer {
  height: 10em;
  text-align: center;
  vertical-align: middle;
  padding: 20px; }
  .footer a {
    width: 10px; }

.sidebar, .content, .header, .footer {
  display: inline-block; }

.content {
  width: 60%;
  float: left; }

.sidebar {
  width: 30%;
  float: right; }

#conns {
  overflow: scroll;
  height: 20em; }

#meetings, #connections {
  overflow: scroll; }
  #meetings a, #connections a {
    padding: 3px; }
  #meetings a.clickme, #connections a.clickme {
    display: block;
    width: 100%;
    height: 100px;
    padding: 15px; }

#meetings {
  height: 32em; }

#connections, #suggestions {
  height: 10em; }

#connectForm, #disconnectForm {
  display: inline-block;
  width: auto;
  padding: 10px;
  float: right; }
  #connectForm input, #disconnectForm input {
    padding: 5px; }

#meetMe {
  padding: 20px;
  border-radius: 3px; }
  #meetMe h2 {
    margin: 0em;
    padding: 5px; }

#meetingDiv {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2px; }

.field {
  width: 100%;
  padding: 1%; }

.left {
  width: 30%; }

.right {
  width: 70%; }

.left, .right {
  display: inline-block; }

a, p, span {
  text-decoration: none;
  font-size: 1.1em; }

#connections a:hover {
  text-decoration: underline; }

#connectForm input, #disconnectForm input {
  font-size: 2.5em; }

html {
  font-size: 0.875em; }

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

small, .font_small {
  font-size: 0.75em; }

.topic {
  font-size: 1.6em; }

body {
  background-color: #EDEAE8; }

.errors {
  color: #2C8C99; }

.navbar-top {
  background-color: #2C8C99; }

.navbar, .footer {
  background-color: #1D4E89; }
  .navbar a, .footer a {
    color: #EDEAE8; }

h1, h2, h3, h4, h5, h6 {
  color: #1D4E89; }

a {
  color: #84C318; }

#meetMe {
  color: #EDEAE8;
  background-color: #84C318; }
  #meetMe h2 {
    color: #EDEAE8; }

#meetingDiv {
  background-color: #84C318;
  color: #EDEAE8;
  box-shadow: 2px 2px 2px #000; }
  #meetingDiv a {
    color: #EDEAE8; }
  #meetingDiv a:hover {
    text-decoration: underline; }

#meetingDiv:hover {
  background-color: #9AA899; }

#connections a {
  color: #1D4E89; }
  #connections a .details {
    color: #2C8C99; }
